{% extends 'firstapp/base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %} {{ data.title }} {% endblock %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'all_category' request2=data.category %}">{{ data.category | capfirst }}</a></li>
              <li class="active">{{ data.title | truncatewords:7 }}</li>
            </ol>
            <h1>{{ data.title }}</h1>
            <div class="post_commentbox">
              <span><i class="fa fa-user"></i></span>
              <span><i class="fa fa-calendar"></i>{{ data.publish_time }}</span>
              <a href="{% url 'all_category' request2=data.category %}"><i class="fa fa-tags"></i>{{ data.category | capfirst }}</a>
                <span><i class="fa fa-eye"></i>{% get_hit_count for data %}</span>
              {% if user.is_superuser %}
                  <div style="float:right;">
                <a href="{% url 'update' data.slug %}"style="margin-right: 15px;"><i class="fa fa-pencil" ></i>Edit</a>
                <a href="{% url 'delete' data.slug %}" style="margin-right: 10px;"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
              </div>
              {% endif %}
            </div>

            <div class="single_page_content"> <img class="img-center" src="{{ data.image.url }}" alt="">
              <p>{{ data.body }}</p>

{#            Here are all comments #}
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>
                    <h3 class="panel-title">
                        Recent Comments</h3>
                    <span class="label label-info">
                        {{ comment_count }} comments</span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for comment in comments %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                                    <div class="col-xs-10 col-md-11">
                                            <div class="mic-info ">
                                                By: <b class="text-primary">{{ comment.user }}</b> on {{ comment.created_time }}
                                            </div>
                                        <br>
                                        <div class="comment-text">
                                            {{ comment.body }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
    {#                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>#}
                </div>
            </div>

{#       -----Leave comment part-----#}
            <h4>Leave a Comment</h4>

                    <form class="contact_form" method="post">{% csrf_token %}
                      <textarea class="form-control" cols="10" rows="5" placeholder="Message" name="body" required="required"></textarea>
                      <input type="submit" value="Send Message">
                    </form>



{#              <button class="btn default-btn">Default</button>#}
{#              <button class="btn btn-red">Red Button</button>#}
{#              <button class="btn btn-yellow">Yellow Button</button>#}
{#              <button class="btn btn-green">Green Button</button>#}
{#              <button class="btn btn-black">Black Button</button>#}
{#              <button class="btn btn-orange">Orange Button</button>#}
{#              <button class="btn btn-blue">Blue Button</button>#}
{#              <button class="btn btn-lime">Lime Button</button>#}
{#              <button class="btn btn-theme">Theme Button</button>#}
            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                <li>
                  <div class="media"> <a class="media-left" href="single_page.html"> <img src="../images/post_img1.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media"> <a class="media-left" href="single_page.html"> <img src="../images/post_img2.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media"> <a class="media-left" href="single_page.html"> <img src="../images/post_img1.jpg" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Latest Post</span></h2>
            <ul class="spost_nav">
              {% for i in latest_post  %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'detail_page' i.category i.slug %}" class="media-left"> <img alt="couldn't image" src="{{ i.image.url }}"> </a>
                      <div class="media-body"> <a href="{% url 'detail_page' i.category i.slug %}" class="catg_title">{{ i.title | truncatechars:100 }}</a></div>
                    </div>
                  </li>
              {% endfor %}
            </ul>
          </div>
          <div class="single_sidebar">
              <div class="single_sidebar wow fadeInDown">
                <h2><span>Category</span></h2>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="category">
                    <ul>
                      {% for category in category_data %}
                        <li class="cat-item"><a href="{% url 'all_category' request2=category.name %}">{{ category.name | capfirst }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="../images/add_img.jpg" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              {% for category in category_data %}
                <option>{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life & Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock %}